.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

@font-face {
  font-family: Impact;
  src: url(/fonts/impact.ttf);
}

@font-face {
  font-family: Sigmar;
  src: url(/fonts/Sigmar-Regular.ttf);
}
